.login_text {
  font-size: 14px;
  color: #4b5a64;
  margin-top: 0.5rem;
  text-align: center;
  padding-top: 1em;
}
.loginimg {
  display: block;
  float: left;
  height: 100%;
  max-width: 468px;
  position: absolute;
  left: 0;
  max-height: 1000px;
}

.slide1 {
  max-width: 468px;
  position: relative;
  overflow: hidden;
}

.main {
  margin-left: 19rem;
  margin-bottom: 23rem;
}

.inner {
  margin-top: 3rem;
}
